html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
/*PADDING*/

/*NAVBAR*/
.navbar{
	padding: 20px 0;
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.sa-navbar{
	padding: 0;
}

.navbar-default{
	background-color: #414A52;
	border-color: transparent;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #7AE2DE;
}
.navbar-default .navbar-text {
  color: #7AE2DE;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #7AE2DE;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #225081;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #7AE2DE;
  background-color: #09192a;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #09192a;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #7AE2DE;
  background-color: #09192a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #7AE2DE;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #7AE2DE;
  background-color: #09192a;
}
.navbar-default .navbar-toggle {
  border-color: #09192a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #09192a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

.navbar-brand{
	font-weight: 700;
	font-size: 30px;
}

.navbar-nav{
	font-weight: 500;
	font-size: 18px;
}

/*SECTION*/

/*INTRO*/
.intro {
	padding-top: 50px;
    min-height: 400px;
    background: #414A52;
}

.stats-wrapper{
	display: inline-block;
}
.stats-number{
	font-size:48px;
	color: #FFF;
	text-align: left;
}
	
.stats-text{
	font-size: 15px;
	font-weight: 500;
	line-height:.7;
	padding: 0;
	text-transform: uppercase;
	text-align: left;
	color: #FFF;
}

.stats-container{
	text-align:center;
	border-right:solid 2px rgba(255,255,255,0.5);
	font-family: Montserrat, Georgia, serif;
}
.stats-container:last-of-type{
	border-right:none;
}

.stats-number{
	text-align:left;
}

.stats-title{
	font-size:48px;
	color: #FFF;
	text-align: center;
	padding-bottom: 30px;
}

.stats-icon{
	color: #FFF;
	float:left;
}

/*ANALISIS*/
.analisis {
    height: 400px;
	padding-top: 40px;
    text-align: center;
    background: #FFF;
}

.kontak {
    height: 300px;
    text-align: center;
    background: #7AE2DE;
}

/*JUMBOTRON*/
.jumbotron{
	margin-bottom: 0px;
}
.sa-jumbotron{
	background: url(../img/jumbotron.jpg)no-repeat fixed;
	background-size: cover;
	min-height: 700px;
}

.jumbo-vertical-center{
	padding-top: 250px;
}

#jumbo h1 {
	color:#ffffff;
	font-weight: 600;
}
#jumbo p {
	color: #ffffff;
	font-weight: 400;
}

/*BUTTON*/
.btn{
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

.btn-primary {
	color: #7AE2DE;
	background: rgba(0,0,0,0);
	border: solid 3px #7AE2DE;
}

.btn-primary:hover{
	background: #7AE2DE;
	color: #FFF;
	border: solid 3px #7AE2DE;
}

.btn-primary:focus{
	background: #7AE2DE;
	color: #FFF;
	border: solid 3px #7AE2DE;
}

/*FOOTER**/
footer {
    background: #414A52;
    color: white;
    font-size: 16px;
	font-weight: 500;
    padding: 10px 0;
    text-align: center;
}